<ion-app>
    <ion-router-outlet>
        <ion-grid class="page_loader">
            <ion-row class="page_loader_items">
                <ion-spinner color="secondary" name="lines"></ion-spinner>

                <ion-spinner color="tertiary" name="lines-small"></ion-spinner>

                <ion-spinner name="dots"></ion-spinner>
                <ion-text color="tertiary">loading</ion-text>

                <ion-spinner color="tertiary" name="lines-small"></ion-spinner>

                <ion-spinner color="secondary" name="bubbles"></ion-spinner>

                <ion-spinner name="circles"></ion-spinner>

                <ion-spinner name="crescent"></ion-spinner>

            </ion-row>
        </ion-grid>
    </ion-router-outlet>
</ion-app>
