<ion-header>
    <ion-toolbar color="primary">
        <ion-title slot='secondary'>Movies</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button (click)="openMovieForm()" [disabled]="!auth.can('post:movies')">
                    <ion-icon name="add-circle"></ion-icon>
                    <ion-label>New Movie</ion-label>
                </ion-tab-button>
                <ion-text color="secondary"> |</ion-text>
                <ion-tab-button [disabled]="!auth.can('get:actors')" href="/tabs/actors">
                    <ion-icon name="people"></ion-icon>
                    <ion-label>Actors</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-header>


<ion-content *ngIf="movies && movies.cinemas" class="ion-padding">
    <ion-grid>


        <ion-row align-items-center>

            <ion-col *ngFor="let movieId of Object.keys(movies.cinemas)" size="6" size-lg="4" size-md="4" size-xs="12">
                <ion-card>
                    <ion-card-header>
                        <ion-item color="dark">
                            <ion-label>
                                {{movies.cinemas[movieId].title}}
                            </ion-label>
                        </ion-item>
                    </ion-card-header>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-item>Title</ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item>
                                    <ion-label> {{movies.cinemas[movieId].title}}</ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>Release Date</ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item>
                                    <ion-label>
                                        {{displayDate(movies.cinemas[movieId].release_date)}} </ion-label>
                                </ion-item>
                            </ion-col>

                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-button
                                        (click)="openMovieForm(movies.cinemas[movieId])"
                                        [disabled]="!auth.can('patch:movies') || !auth.can('delete:movies')"
                                >
                                    <ion-icon color="dark" name="film" slot="start"></ion-icon>
                                    <ion-item>
                                        <ion-label>Edit</ion-label>
                                    </ion-item>
                                    <ion-icon color="dark" name="md-open" slot="end"></ion-icon>

                                </ion-button>
                            </ion-col>
                        </ion-row>
                        <ion-row>

                            <ion-col>
                                <app-movie-actors
                                        [movieId]="movieId"
                                ></app-movie-actors>
                            </ion-col>
                        </ion-row>

                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <app-pagination (goToPage)="navigateToPage($event)"
                    *ngIf="movies.pagination"
                    [pagination]="movies.pagination"
    ></app-pagination>
</ion-footer>
