<ion-header>
    <ion-toolbar color="primary">
        <ion-title slot='secondary'>Movies</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button (click)="openMovieForm()" [disabled]="!authService.can('post:movies')">
                    <ion-icon name="add-circle"></ion-icon>
                    <ion-label>New Movie</ion-label>
                </ion-tab-button>
                <ion-text color="secondary"> |</ion-text>
                <ion-tab-button [disabled]="!authService.can('get:actors')" href="/tabs/actors">
                    <ion-icon name="people"></ion-icon>
                    <ion-label>Actors</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>

            <ion-col *ngIf="!movies && !loading"
                     class="ion-align-items-center ion-justify-content-center ion-text-center">
                <ion-card class="bg-white ion-padding">
                    <ion-card-content class="ion-align-items-center ion-justify-content-center">
                        <h1 class="ion-text-center ion-margin-bottom">
                            <ion-text color="medium"><strong>No movies exist !</strong></ion-text>
                        </h1>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="movies" class="ion-align-items-center">
            <ion-col *ngFor="let movie of movies" class="ion-justify-content-around ion-wrap" size="6" size-lg="4"
                     size-md="4"
                     size-xs="12"
            >

                <ion-card>
                    <ion-card-header>
                        <ion-item color="dark">
                            <ion-label>
                                {{movie.title}}
                            </ion-label>
                        </ion-item>
                    </ion-card-header>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-item>Title</ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item>
                                    <ion-label> {{movie.title}}</ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>Release Date</ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item>
                                    <ion-label>
                                        {{displayDate(movie.release_date)}} </ion-label>
                                </ion-item>
                            </ion-col>

                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-button
                                        (click)="openMovieForm(movie)"
                                        [disabled]="!authService.can('patch:movies') || !authService.can('delete:movies')"
                                        matTooltip="Edit Movie"

                                >
                                    <ion-icon color="info" name="md-open"></ion-icon>
                                </ion-button>
                                <ion-button (click)="presentActorsPopover(movie.id)"
                                            matTooltip="Show Actors"
                                >
                                    <ion-icon color="info" name="ribbon"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>

                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


<ion-footer>
    <app-pagination (goToPage)="navigateToPage($event)"
                    *ngIf="pagination.total"
                    [pagination]="pagination"
    ></app-pagination>
</ion-footer>
