<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="isNew">Add New Movie</ion-title>
        <ion-title *ngIf="!isNew">Edit Movie</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content *ngIf='movie'>
    <form (ngSubmit)="saveMovie" [formGroup]="movieForm" novalidate>
        <ion-item *ngIf="isSubmitted && errorMessage">
            <ion-text color="danger">{{errorMessage}}  </ion-text>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Title:</ion-label>
            <ion-input
                    formControlName="title"
                    name="title" placeholder="movie Title"
                    type='text'>
            </ion-input>
            <ion-text *ngIf="isSubmitted && errorControl.title.errors?.required" color="danger">
                Movie title is required
            </ion-text>
            <ion-text *ngIf="isSubmitted && errorControl.title.errors?.minlength" color="danger">
                Movie title should be atleast 2 characters long

            </ion-text>
        </ion-item>


        <ion-item>
            <ion-label position="floating">Release Date</ion-label>
            <ion-datetime
                    displayFormat="MMM DD, YYYY"
                    formControlName="release_date"
                    name='release_date'
                    pickerFormat="YYYY-MM-DD"
                    placeholder="Select Date"
            >
            </ion-datetime>
            <ion-text *ngIf="isSubmitted && errorControl.release_date.errors?.required" color="danger">
                Release date is required
            </ion-text>

        </ion-item>
        <ion-item>
            <ion-searchbar (ionChange)="handleSearchBar($event)" placeholder="search actor to Actor"></ion-searchbar>
        </ion-item>
        <ion-progress-bar *ngIf="searchLoader" reversed="true" type="indeterminate"></ion-progress-bar>
        <ion-item *ngIf="!searchLoader && isSearchSubmitted && !loading && !actorFilter.length">No actors Available
        </ion-item>


        <ion-item-group *ngIf="actorFilter">
            <ion-item *ngFor="let actor of filteredActors">
                <ion-label>  {{actor.name | uppercase}}</ion-label>
                <ion-button (click)="addActor(actor)"> Add actor</ion-button>
            </ion-item>
        </ion-item-group>

        <ion-grid *ngIf="movie.actors.length">
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-header>ACTORS</ion-card-header>

                        <ion-chip *ngFor="let movie_crew of movie.actors; let i = index  trackBy: customTrackBy"
                                  color="dark"
                                  outline>
                            <ion-icon name="people"></ion-icon>
                            <ion-label>{{movie_crew.actor.name}}</ion-label>
                            <ion-icon
                                    (click)="removeActor(i, movie_crew.actor.id)"
                                    [hidden]="disabledAction"
                                    color="danger"
                                    name="close-circle"
                            ></ion-icon>
                        </ion-chip>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>


        <ion-row>
            <ion-col>
                <ion-button
                        (click)="deleteClickedMovie()"
                        [disabled]="isNew || !auth.can('delete:movies')"
                        color="danger"
                >
                    Delete
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="closeModal()">Cancel</ion-button>

            </ion-col>
            <ion-col>
                <ion-button (click)="saveMovie()"
                            [disabled]="!auth.can('patch:movies') || !auth.can('post:movies')"
                            color="secondary"
                            type="submit">
                    <ion-icon name="save" slot="icon-only"></ion-icon>
                    Save
                    <ion-spinner *ngIf="isSubmitted && loading"></ion-spinner>

                </ion-button>
            </ion-col>
        </ion-row>

    </form>
</ion-content>
