//ion-input{
//  --background: rgb(219,219,219);
//
//}

ion-input {
  border-radius: 10px !important;
  padding-right: 30px;
  font-size: 0.9em;
  border: 1px solid #f1f1f1 !important;
  --background: rgb(219, 219, 219) !important;
  /* height: 10%; */
  /* width: 41%; */
  max-width: 50vw; // this is applying perfectly
  max-height: 10vh;
}
