<ion-header>
    <ion-button>
        <ion-icon color="cross" name="people" slot="start"></ion-icon>
        <ion-item>
            <ion-label>Actors</ion-label>
        </ion-item>
        <ion-icon color="dark" name="ribbon" slot="end"></ion-icon>

    </ion-button>
    <app-mini-pagination
            (goToPage)="goToPage($event)"
            *ngIf="pagination"
            [pagination]="pagination"
            paginationPosition="bottom"

    ></app-mini-pagination>
</ion-header>
<ion-content>

    <ion-spinner *ngIf="isSubmitted && loading" color="tertiary"></ion-spinner>
    <ion-item *ngIf="isSubmitted && !loading && !movieActors.length">No actors Available</ion-item>
    <div *ngIf="showActors">
        <ion-list class="ion-padding">
            <ion-item *ngFor="let movieActor of movieActors">{{movieActor.actor.name}}</ion-item>
        </ion-list>

    </div>

</ion-content>
<ion-footer>
    <app-mini-pagination
            (goToPage)="goToPage($event)"
            *ngIf="pagination"
            [pagination]="pagination"
            paginationPosition="bottom"

    ></app-mini-pagination>

</ion-footer>
